// Font Sizes
$fs-h1: 4.8rem;
$fs-h2: 4.0rem;
$fs-h3: 3.3rem;
$fs-h4: 2.8rem;
$fs-h5: 2.3rem;
$fs-h6: 1.9rem;
$fs-base: 1.6rem;
$fs-caption: 1.3rem;

// Font Weight
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

// Colors
$color-black: #402E32;
$color-brown-1: #BD871F;
$color-brown-2: #E29344;
$color-brown-light: #FFF8EC;
$color-white: #FFFEFC;
$color-gray: #F0F0F0;
$color-gray-2: #7E7E7E;
$color-green-1: #00A97A;
$color-green-2: #0B744B;

// Breakpoints
$bp-laptop-lg: 75rem; //1200px
$bp-laptop: 64rem; //1024px
$bp-tablet: 48rem; //768px
$bp-mobile: 28rem; //448px