.navbar{
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: relative;
    z-index: 1000;
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);

    //659px
    @media only screen and (max-width: 41.188rem) {
        flex-direction: column;
        padding: 2rem;
        height: auto;
        gap: 2rem;
    }

    &--sticky{
        position: fixed;
        box-shadow: 0 2px 10px rgba($color-black, 0.1);
        
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            padding: 0 5rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: rgba($color-white, 0.9);
            backdrop-filter: blur(5px);
        }
    }

    &__left{
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    &__logoContainer{
        width: 5rem;
        height: 5rem;
    }

    &__logo{
        width: 100%;
    }

    &__appText{
        font-size: $fs-h5;
        font-weight: $fw-bold;
    }

    &__right{
        display: flex;
        align-items: center;
    }
    
    &__listContainer{
        display: flex;
        align-items: center;
        gap: 4rem;
        font-size: $fs-h6;
        font-weight: $fw-semibold;
        list-style: none;

        @media only screen and (max-width: $bp-tablet) {
            gap: 2rem;
        }

        @media only screen and (max-width: $bp-mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    
    &__link{
        text-decoration: none;
        color: currentColor;
    }

}