@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

html{
    font-size: 62.5%;

    @media only screen and (max-width: $bp-laptop-lg) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $bp-laptop) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-tablet) {
        font-size: 43.75%;
    }

    @media only screen and (max-width: $bp-mobile) {
        font-size: 37.5%;
    }
}

body{
    font-family: 'Inter', sans-serif;
    color: $color-black;
    font-weight: $fw-medium;
}

.heading-1{
    font-size: $fs-h1;
    font-weight: $fw-semibold;
}

.heading-3{
    font-size: $fs-h3;
    font-weight: $fw-semibold;
}

.caption{
    font-size: $fs-h6;
    font-weight: $fw-regular;
}




.labelContainer{
    width: 93.4rem;
    margin: 0 auto;

    @media only screen and (max-width: $bp-tablet) {
        width: 80%;
    }

    &__title{
        font-size: $fs-h5;
        font-weight: $fw-black;
        text-transform: uppercase;
        color: $color-brown-2;
        margin-bottom: 1.6rem;
    }

    &__desc{
        font-size: $fs-h3;
        font-weight: $fw-medium;
    }
}