.hero{
    height: 100vh;

    @media only screen and (max-width: $bp-mobile) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        height: max-content;
        padding-bottom: 4rem;
    }
}

section{
    transition: transform 1s, opacity 1s;
}   

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

footer{
    background-color: $color-black;
    color: $color-white;
    padding: 10rem 0;

    img{
        width: 15%;
    }
}

.cta{
    display: block;
    margin: 0 auto;
    width: max-content;
    text-align: center;
    margin-bottom: 11.2rem !important;

    @media only screen and (max-width: $bp-tablet) {
        width: auto;
        padding: 0 4rem;
    }

    &__text{
        font-size: $fs-h4;
    }

    &__btn{
        background-color: $color-brown-2;
        font-size: $fs-h5;
        font-weight: $fw-bold;
        margin-top: 2.4rem;
    }
}


.bottomNavigation{
    margin: 0 auto;
    width: max-content;
    margin-top: 11.2rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    @media only screen and (max-width: $bp-tablet) {
        width: auto;
    }

    @media only screen and (max-width: $bp-mobile) {
        margin-top: 5rem !important;
    }

    ul{
        font-size: $fs-h6;
        list-style: none;
        display: flex;
        gap: 4.9rem;

        @media only screen and (max-width: $bp-mobile) {
            flex-wrap: wrap;
            gap: 2.9rem;
            justify-content: center;
        }

        li{
            padding: 2rem 4rem;
        }
        
        a{
            color: $color-white;
            text-decoration: none;
        }
    }

    img{
        display: block;
    }
}




.copyright{
    font-size: $fs-caption;
    font-weight: $fw-regular;
}


.modal{
    width: 40%;
    background-color: $color-brown-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 4000;
    text-align: center;

    @media only screen and (max-width: $bp-mobile) {
        width: 80%;
    }

    &__img{
        width: 15%;
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-gray-2, 0.5);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 2000;
    transition: all 0.5s;
}